.page {
    background-image: url(./background\ 1.png);
    background-size: 100%;
}
.container {
    width: 1030px;
    margin: 0 auto;
}
.head {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.logo {
    display: flex;
}
.logo:hover .picture{
    background-image: url(./logo\ 2.png);
}
.logo:hover .text {
    color: #F26522;
}
.picture {
    width: 53px;
    height: 45px;
    background-image: url(./logo\ 3.png);
    transition: 0.5s;
}
.text {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding-left: 8px;
    transition: 0.5s;
}
.logo-word-one {
    font-size: 29px;
}
.logo-word-two {
    font-size: 18px;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}
.contacts a{
    transition: 0.5s;
}
.mail {
    color: #fff;
}
.phone-number {
    text-align: end;
    color: #fff;
}
.main-items {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
    margin-top: 22px;
}
.main-items-image {
    max-width: 300px;
    max-height: 220px;
}
.main-items-text {
    text-align: center; 
    padding-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #fff;
}
.footer-text {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 50px 0 15px;
}
.text:hover {
    color: #F26522;
}
.contacts a:hover {
    color: #F26522;
}
.main-items-text {
    transition: 0.5s;
}
.main-items-text:hover {
    color: #F26522;
}
.hover-item {
    color: #fff;
    background-color: #F26522;
    height: 55px;
    width: 300px;
    position: absolute;
    top: 225px;
    left: 0;
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.5s;
}
.hover-item-one {
    padding-top: 7px;
    padding-left: 16px;
}
.from {
    font-size: 10px;
}
.price {
    padding-top: 8px;
    font-size: 20px;
}
.details {
    align-self: flex-end;
    padding-right: 16px;
    padding-bottom: 12px;
    position: relative;
    padding-right: 37px;
}
.details::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    top: 5px;
    right: 14px;
}

.hover-block {
    position: relative;
    overflow: hidden;
}
.hover-block:hover .hover-item{
    top: 165px;
}
.main-items-hover:hover .main-items-text {
    color: #F26522;
}